<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guidelines - Cookies</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

</head>

<body class="d-flex" style="min-height: 100vh">

<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px">
    <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Homepage</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <br>
        <li>
            <a href="/termsofuse" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#home"></use>
                </svg>
                <i class="bi bi-info-circle">  Terms of use</i>
            </a>
        </li>
        <br>
        <li>
            <a href="/security" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                </svg>
                <i class="bi bi-shield-check">  Security</i>
            </a>
        </li>
        <br>
        <li class="nav-item">
            <a href="/cookies" class="nav-link active" aria-current="page">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#table"></use>
                </svg>
                <i class="bi bi-alarm">  Cookies</i>
            </a>
        </li>
    </ul>
    <hr>
</div>

<div class="container" style="margin: 3vh 20vh 3vh 20vh">
    <div class="row">
        <div class="col-sm">

            <h1>Guidelines</h1>

            <br><hr><br>

            <h6>About Cookies</h6>
            <h6>What are Cookies?</h6>

            <p>
                Cookies are small text files containing a string of characters that can be placed on your computer
                or mobile device that uniquely identifies your browser or device. We may use technologies such as
                cookies, pixels and local storage to provide, protect and gain insight into products, services and
                advertisements.
            </p>

            <br>

            <h6>What are cookies used for?</h6>

            <p>
                Cookies and other technologies allow websites or services to determine whether your computer
                or device has visited them before. These technologies may then be used to provide or deliver products,
                services and advertisements, tell us how the website or service is being used, help you navigate between
                pages efficiently, help us remember your preferences and generally improve your experience when using
                our services. Cookies can also help ensure that the marketing you see online is more relevant to you and
                your interests.
            </p>

            <br>

            <h6>Why does we use cookies and similar technologies?</h6>

            <p>
                We use cookies, pixels, local storage and similar technologies to show you relevant content,
                improve your experience and protect Instagram and our users. We may use these technologies to deliver
                the Service, provide you with an easy-to-use service, allow you to move around the Service and use its
                features (such as accessing secure areas), and to store information so that Instagram responds more
                quickly.
                We may also use these technologies to collect information about how you use the Service, such as which
                pages you visit most often and whether you receive error messages from certain pages. We may also use
                these technologies to help us remember the choices you make (such as your username, language or the
                region you are in) and customise the Service to provide you with improved features and content.
                These cookies may also help us remember changes you have made to text size, font and other elements of
                pages that you can personalise. Instagram may, or our advertising partners may, use these technologies
                to
                deliver ads relevant to your interests. These technologies may remember that your device has visited a
                website or service. They may also be able to track your device's browsing on websites or services other
                than Instagram. This information may be shared with other organisations outside of Instagram, such as
                advertisers and/or ad networks, in order to deliver advertising and measure the effectiveness of an
                advertising campaign. *We may use these technologies to gain insight into, improve and research products
                and services.
            </p>


        </div>
    </div>
</div>


</body>
</html>