<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PosSystem</title>

    <script src="../static/js/Pos.js" type="application/javascript"></script>
</head>
<body>


<div>
    <input type="submit" name="Group" value="Group" onclick="app(1)"/>
    <input type="submit" name="Single" value="Single" onclick="app(2)"/>
    <input type="submit" name="Birthday" value="Birthday" onclick="app(3)"/>
</div>


<!--
<form action="http://localhost:8080/getPrices" method="post">
    <input type="submit" name="Group" value="1" placeholder="Group"/>
    <input type="submit" name="Single" value="2"/>
    <input type="submit" name="Birthday" value="3"/>
</form>
-->

</body>
</html>